<h2 class="mx-auto my-3 text-center text-success text-uppercase font-weight-normal">College Listings</h2>
    
<div class="row m-0 p-0">
    <div class="container-fluid col-lg-2 my-3 p-0">
        <div class="form-group">
            <label for="input-name-search">Search College</label>
            <input type="text" class="form-control" id="input-name-search" placeholder="Enter college name">
        </div>
        <div class="form-group">
            <label for="input-sort">Sort By</label>
            <select name="input-sort" id="input-sort" class="form-control">
                <option value="total_votes" selected># of votes</option>
                <option value="name">College Name</option>
                <option value="location">College Location</option>
            </select>
        </div>
        <div class="form-group">
            <label for="input-location-search">Filter By Location</label>
            <select class="form-control" id="input-location-search" name="input-location-search">
                <option value=''>Select location</option>
                {% for location in frappe.get_all('Location', fields=['name'], order_by="name") %}
                        <option>{{ location['name'] }}</option>
                {% endfor %}
            </select>
        </div>
        <button id="apply-button" class="btn btn-secondary">Apply</button>
    </div>
    
    <main class="col-lg-10">
        <div class="container-fluid pt-5">
            <div id="college-listings" class="row align-items-stretch">
            </div>
        </div>
    
        <nav class="d-flex justify-content-center w-100 mt-5" aria-label="Page navigation">
            <button id="load-more-button" class="btn btn-secondary">Load More</button>
        </nav>
    </main>
</div>

{% block script %}
    {{ include_script('colleges.bundle.js') }}
{% endblock %}
