---
full_width: 1
title: Bhumi Awards
---

{% extends "templates/web.html" %}

{% block page_content %}
<section class="home container-fluid">
	<div class="row">
		<div class="hero-image">
			<div class="image-overlay">
				<div class="hero-content">
					<h1 class="hero-title text-center text-white">Responsible Campus Awards</h1>
					<p class="hero-subtitle text-white">
						India's first-ever awards to recognize socially responsible colleges. One-of-its-kind attempt to learn from and strengthen Indian college's focus on building the future change-makers of this country.
					</p>
				</div>
				<a class="btn btn-lg btn-primary" href="/colleges" id="vote-now-button">
					Vote Now
				</a>
			</div>
		</div>
	</div>
</section>

<section class="section section-padding-top section-padding-bottom bg-light">
	<div class="container">
		<div class="section-with-features">
			<h2 class="section-title">Why are we hosting these awards?</h2>
			<div class="section-features" data-columns="3">
				<div class="section-feature">
					<div align="center">
						<img alt="Promoting" class="feature-icon"  src="/assets/bhumi_awards_portal/images/promoting.png">
						<h3 class="feature-title">Promoting‌</h3>
						<p class="feature-content">Promoting the spirit of doing good and volunteerism among Tamil Nadu colleges.</p>
					</div>
				</div>
				<div class="section-feature">
					<div align="center">
						<img alt="Learning" class="feature-icon"  src="/assets/bhumi_awards_portal/images/learning.png">
						<h3 class="feature-title">Learning</h3>
						<p class="feature-content">Learning from the most socially conscious colleges and amplifying practices in other colleges.</p>
					</div>
				</div>
				<div class="section-feature">
					<div  align="center">
						<img alt="Empowering" class="feature-icon"  src="/assets/bhumi_awards_portal/images/empowering.png">
						<h3 class="feature-title">Empowering</h3>
						<p class="feature-content">Accelerate the effort to empower youth in India to play a stronger role in building our nation.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="process-section" class="section process-section section-padding-top section-padding-bottom">
	<div class="container">
		<h2 class="section-title">Process</h2>
		<p class="section-description">How do we do this?</p>
		<div class="section-features mt-5">
			<div class="row m-5">
				<div class="col-lg-6 col-md-6 col-sm-12 p-5 column" align="center">
					<div class="card h-100 shadow border-0 process-card">
						<img src="/assets/bhumi_awards_portal/images/nomination.png" class="img-responsive card-img-top process-image" alt="...">
						<div class="card-body">
							<h5 class="card-title">1. Nominations</h5>
							<p class="card-text text-justify">
								The awards team invites applications. Colleges can self-nominate themselves. The public or students can also nominate/vote for specific colleges.
							</p>
						</div>
					</div>
				</div>

				<div class="col-lg-6 col-md-6 col-sm-12 p-5 column" align="center">
					<div class="card h-100 shadow border-0 process-card">
						<img src="/assets/bhumi_awards_portal/images/applications.png" class="img-responsive card-img-top process-image" alt="...">
						<div class="card-body">
							<h5 class="card-title">2. Applications</h5>
							<p class="card-text text-justify">
								Nominated colleges are reached out to and asked to submit details in a detailed form about their effort and initiatives to be socially conscious.
							</p>
						</div>
					</div>
				</div>

				<div class="col-lg-6 col-md-6 col-sm-12 p-5 column" align="center">
					<div class="card h-100 shadow border-0 process-card">
						<img src="/assets/bhumi_awards_portal/images/selection.png" class="img-responsive card-img-top process-image" alt="...">
						<div class="card-body">
							<h5 class="card-title">3. Selection</h5>
							<p class="card-text text-justify">
								An expert crew of jury would be evaluating the nominations based on fixed criteria and details submitted by the college. Final awardees are selected based on the college’s score in specific criteria and the number of public votes.
							</p>
						</div>
					</div>
				</div>

				<div class="col-lg-6 col-md-6 col-sm-12 p-5 column" align="center">
					<div class="card h-100 shadow border-0 process-card">
						<img src="/assets/bhumi_awards_portal/images/awards.png" class="img-responsive card-img-top process-image" alt="...">
						<div class="card-body">
							<h5 class="card-title">4. Award Ceremony</h5>
							<p class="card-text text-justify">
								All the nominated colleges and the awardees are invited for the final award ceremony where awards are given and guest speeches are delivered on making Indian colleges more socially responsible.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="criteria-section" class="section section-padding-top section-padding-bottom bg-light">
	<div class="container">
		<div class="section-with-features">
			<h2 class="section-title">Criteria</h2>
			<p class="section-description">
				The following are the criteria with which the jury members will be evaluating the nominations from colleges. Specifics about each criteria bucket and details would be decided by the expert panel consisting of subject matter experts & NGOs.
			</p>
			<div class="section-features" data-columns="3">
				<div class="section-feature">
					<div align="center">
						<img alt="Social Responsibility" class="feature-icon" src="/assets/bhumi_awards_portal/images/social-responsibility.png">
						<h3 class="feature-title">Social Responsibility</h3>
						<p class="feature-content">Student groups around social responsibility</p>
					</div>
				</div>
				<div class="section-feature">
					<div align="center">
						<img alt="Volunteerism" class="feature-icon" src="/assets/bhumi_awards_portal/images/volunteerism.png">
						<h3 class="feature-title">Volunteerism</h3>
						<p class="feature-content">Volunteerism in College</p>
					</div>
				</div>
				<div class="section-feature">
					<div align="center">
						<img alt="Leadership" class="feature-icon" src="/assets/bhumi_awards_portal/images/leadership.png">
						<h3 class="feature-title">Leadership</h3>
						<p class="feature-content">Students as social change leaders‌</p>
					</div>
				</div>
				<div class="section-feature">
					<div align="center">
						<img alt="Energy Consumption" class="feature-icon" src="/assets/bhumi_awards_portal/images/energy-consumption.png">
						<h3 class="feature-title">Energy Consumption & Sources‌</h3>
					</div>
				</div>
				<div class="section-feature">
					<div align="center">
						<img alt="Greenery" class="feature-icon" src="/assets/bhumi_awards_portal/images/greenery.png">
						<h3 class="feature-title">Greenery in Campus</h3>
					</div>
				</div>
				<div class="section-feature">
					<div align="center">
						<img alt="Effective Water Usage" class="feature-icon" src="/assets/bhumi_awards_portal/images/water-consumption.png">
						<h3 class="feature-title">Effective usage of Water</h3>
					</div>
				</div>
				<div class="section-feature">
					<div align="center">
						<img alt="Waste Management" class="feature-icon" src="/assets/bhumi_awards_portal/images/waste-management.png">
						<h3 class="feature-title">Waste Management</h3>
						<p class="feature-content">Segregation and disposal (non-food)‌</p>
					</div>
				</div>
				<div class="section-feature">
					<div align="center">
						<img alt="Food Waste Management" class="feature-icon" src="/assets/bhumi_awards_portal/images/food-waste-management.png">
						<h3 class="feature-title">Food Waste Management</h3>
						<p class="feature-content">Tracking and reduction‌</p>
					</div>
				</div>
				<div class="section-feature">
					<div align="center">
						<img alt="Staff Social Responsibility" class="feature-icon" src="/assets/bhumi_awards_portal/images/staff-social-responsibility.png">
						<h3 class="feature-title">Staff Social Responsibility</h3>
						<p class="feature-content">Number of staff working on social responsibility (partially or
							completely)‌</p>
					</div>
				</div>
				<div class="section-feature">
					<div align="center">
						<img alt="Alcohol Free" class="feature-icon" src="/assets/bhumi_awards_portal/images/alcohol-free.png">
						<h3 class="feature-title">Alcohol and Substance Free Campus</h3>
					</div>
				</div>
				<div class="section-feature">
					<div align="center">
						<img alt="Inclusion" class="feature-icon" src="/assets/bhumi_awards_portal/images/inclusion.png">
						<h3 class="feature-title">Diversity & Inclusion</h3>
					</div>
				</div>
				<div class="section-feature">
					<div align="center">
						<img alt="Policy" class="feature-icon" src="/assets/bhumi_awards_portal/images/policy.png">
						<h3 class="feature-title">Policies around Social Responsibility</h3>
					</div>
				</div>
				<div class="section-feature">
					<div align="center">
						<img alt="Environment Policy" class="feature-icon" src="/assets/bhumi_awards_portal/images/environment-policy.png">
						<h3 class="feature-title">Policies around Environment</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% set portal_settings = frappe.get_doc('Campus Awards Settings', 'Campus Awards Settings') %}
{% if portal_settings.timeline_content %}
	<section class="section section-padding-top section-padding-bottom">
		<div class="container">
			<h2>Timeline</h2>
				<p>
					{{ portal_settings.timeline_content }}
				</p>
		</div>
	</section>
{% endif %}

<section class="section section-padding-top section-padding-bottom" data-section-template="Section with CTA">
	<div class="container">
		<div class="section-cta-container">
			<div class="vote-cta section-cta">
				<h2 class="title">Vote Now!</h2>
				<p class="subtitle">Cast your vote for the most deserving college out of over 3,000 colleges!</p>
				<div class="mt-6">
					<a class="btn btn-lg btn-secondary" href="/colleges">Vote Now</a>
				</div>
			</div>
			<div class="confetti confetti-1"></div>
			<div class="confetti confetti-2"></div>
			<div class="confetti confetti-3"></div>
		</div>
	</div>
</section>

{% endblock %}

{% block script %}
	<script>
		$('.navbar').addClass('fixed-top');
	</script>
{% endblock %}
